<!DOCTYPE html>
{% extends "base/index.html" %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}
    <section class="about">
        <div class="about-container">
            <div class="hero-section">
                <div class="hero-content">
                    <h1>Kush Jemi</h1>
                    <p>
                        Djathtas 1912 është një parti politike e themeluar nga një grup individësh që besojnë në vlerat dhe parimet e spektrit të djathtë dhe ka në themelet e saj lirinë e individit, familjen, pronën dhe lirinë e besimit si vlerat lidhëse për ndërtimin e realitetit shoqëror, ekonomik dhe politik.
                    </p>
                </div>
                <div class="hero-image-overlay"></div>
            </div>
    
            <div class="about-section">
                <div class="text-content">
                    <p>
                        Djathtas 1912 është krijuar me qëllimin për të nxitur dhe jetësuar vlerat konservatore dhe lirinë ekonomike, duke u mbështetur në traditat historike dhe kombëtare të Shqipërisë. Ajo synon të forcojë një shtet me demokraci të drejtpërdrejtë, të lirë dhe të zhvilluar, duke vendosur si përparësi individin në qendër të vëmendjes së shtetit, sundimin e ligjit, qeveri të vogël e të fortë, mbështetje për iniciativën private, zhvillimin e ekonomisë së tregut të lirë dhe rritjen e mundësive për qytetarët për të arritur sukses përmes mundit dhe meritës.
                    </p>
                    <p>
                        Emri Djathtas 1912 nënvizon lidhjen me shpalljen e Pavarësisë së Shqipërisë në vitin 1912, duke e njehsuar vlerat mbi të cilat ndërtohet partia me frymën e atij momenti historik, kur shqiptarët u ngritën për liri, sovranitet dhe ndërtimin e një shteti të fortë dhe të pavarur.
                    </p>
                    <p>
                        Kjo parti thekson ruajtjen e vlerave të familjes dhe atyre tradicionale të shoqërisë shqiptare, si dhe ofron një platformë për të siguruar një ekonomi që i shërben çdo qytetari dhe i mundëson zhvillim dhe mirëqenie.
                    </p>
                    <p>
                        Djathtas 1912 është një forcë që synon të ndihmojë në forcimin e institucioneve të shtetit, rritjen e transparencës dhe luftën ndaj korrupsionit, duke ofruar një alternativë politike që angazhohet për një Shqipëri më të fortë dhe më të drejtë.
                    </p>
                    <p>
                        Misioni i Partisë Djathtas 1912 është forcimi i një Shqipërie të lirë, të pasur dhe të zhvilluar, duke ruajtur dhe nxitur vlerat e traditës kombëtare, lirisë ekonomike dhe përgjegjësisë qytetare. Ne angazhohemi për një shtet të fortë, të drejtë dhe efikas, ku sundimi i ligjit është i papërkulur dhe ndihmon zhvillimin e iniciativave private dhe sipërmarrjeve.
                    </p>
                </div>
                <div class="image-container">
                    <img src="{% static 'img/logo_site_final.jpg'%}" alt="Djathtas 1912">
                </div>
            </div>
        </div>




        <div class="principles-section">
            <h2>Parimet e Ndërtimit të “Djathtas”</h2>
            <ul>
                <li>
                    <strong>Demokracia e drejpërdrejtë:</strong> Anëtarët parashikohet të konsultohen dhe të vendosin për të gjithë jetën politike. U njihet e drejta e vetëkandidimit, e vetëorganimit territorial, brenda kufijve të parashikuar statutor, e drejta e shkarkimit të të gjithë strukturës drejtuese qendrore dhe vendore. E drejta e paraqitjes së nismave politike dhe ligjore.
                </li>
                <li>
                    <strong>Kuvendi Kombëtar:</strong> Përbëhet nga e gjithë anëtarësia dhe mblidhet çdo vit të premten e tretë të muajit shkurt pavarësisht nëse thirret apo jo nga strukturat drejtuese. Nëse Kuvendi vetëmblidhet, zgjedh të gjitha organet e reja drejtuese.
                </li>
                <li>
                    <strong>Kufizimi i mandateve të pozicioneve drejtuese:</strong> Të gjitha pozicionet kryesore drejtuese duke filluar nga Kryetari janë me numër të kufizuar mandatesh, deri në 2 mandate. Përjashtim bën Garanti, mandati i të cilit është pa kufizim kohor.
                </li>
                <li>
                    <strong>Shkarkimi për mos arritjen e objektivave elektoralë:</strong> Struktura drejtuese përcakton paraprakisht objektivat elektoralë. Nëse këto objektiva nuk arrihen, e gjithë struktura drejtuese shkarkohet dhe shkohet në zgjedhje për një strukturë të re drejtuese.
                </li>
                <li>
                    <strong>Ndarja e qartë e pushteteve:</strong> Drejtimi politik realizohet nga Kryetari dhe Kryesia; administrimi nga Kancelari, Bordi Financiar dhe Kryesia; zgjidhja e mosmarrëveshjeve nga Kolegji i Etikës dhe Komisioni i Garancive; ruajtja e parimeve dhe vlerave nga Garanti dhe Komisioni i Garancive.
                </li>
                <li>
                    <strong>Parashikimi i “Mocionit të mosbesimit”:</strong> Krijimi i një instrumenti për zgjidhjen e konflikteve të qëndrimeve politike dhe administrative ndërmjet organeve të ndryshme duke e përcjellë zgjidhjen e tyre tek anëtarësia.
                </li>
                <li>
                    <strong>Zgjidhja e konflikteve:</strong> Konfliktet e brendshme zgjidhen me arbitrazh.
                </li>
                <li>
                    <strong>Ushtrimi i detyrave sipas fushave të caktuara:</strong> Drejtimi dhe puna është përgjegjësi kolegjiale, dhe të gjithë anëtarët e kryesisë mbulojnë fusha të caktuara për të cilat janë përgjegjës.
                </li>
                <li>
                    <strong>Verifikimi ligjor:</strong> Proçedurat zgjedhore verifikohen përmes çertifikimit noterial të proçedurave dhe vendimeve.
                </li>
            </ul>
        </div>




    </section>

    <section class="principles-values">
        <h2>Karta e Parimeve Dhe VLERAVE</h2>
        <h3>“DJATHTAS 1912”</h3>
        <p>
            Ne besojnë në parimet e spektrit të djathtë i cili ka në themelet e tij lirinë e individit si baza e të gjithë e kohezionit shoqëror, ekonomik dhe politik. Ne e shohim zhvillimin e vendit të bazuar mbi pesë shtylla themelore të lirisë: individin, pronën, familjen, vetwqeverisjen dhe lirinë e besimit.
        </p>
        <p>
            Ne besojmë tek individi dhe të drejtat natyrore e të patjetërsueshme për jetën, lirinë, ndërgjegjen, fjalën e lirë dhe ushtrimin e lirë të fesë, të drejtën për të qënë i lumtur, për të pasur pronë, për të ndërtuar pasuri dhe për të mbrojtur veten dhe familjen. Qëllimi i shtetit është t’i sigurojë këto të drejta dhe të synojë gjithmonë ruajtjen dhe rritjen e lirisë. Qeverisja nuk është qëllim por mjet.
        </p>
        <p>
            <strong>Ne besojmë te sovraniteti dhe shteti si njësi unitare,</strong> 
            Nte Kushtetuta e vendit dhe shteti i së drejtës. Këta janë gurët e themelit dhe zbatimi me rigorozitet i Kushtetutës dhe ligjeve që rrjedhin prej saj janë baza për zhvillimin vendit. 
        </p>
        <p>
            Ne besojmë në "një qeveri të ligjeve dhe jo të njerëzve", institucioneve dhe jo drejtuesve, ndaj shteti i së drejtës është themeli ynë. Për të ruajtur liritë e individit dhe ato shoqërore drejtësia duhet të administrohet në mënyrë të barabartë dhe të paanshme për të gjithë. 
        </p>
        <p>
            Ne mbështesim tregun e lirë, ekonominë e plotë të tregut, përfshirjen sa më të vogël të shtetit në ekonomi, pavarësinë e individit në treg dhe lirinë e paprekshmërinë e pronës private si themele të ndërtimit të një ekonomie dhe shoqërie të lirë, të shëndetshme dhe sa më të pavarur.
        </p>
        <p>
            Ne besojmë se një qeveri është më efikase dhe më pak e korruptuar kur është e kufizuar në madhësinë dhe pushtetin e saj. Ne besojmë në një ndarje jetike të pushteteve dhe në një sistem kontrollesh e balancash mes parlamentit, qeverisë dhe gjyqësorit. Decentralizimi i qeverisjes vendore dhe eliminimi i rregullave të panevojshme dhe burokracisë ndihmojnë për të siguruar që qeveria t'u shërbejë njerëzve dhe jo anasjelltas. 
        </p>

        <p>
           Ne besojmë se liria e tregut është rruga më e mirë për përmirësimin dhe rritjen e ekonomisë. Ne besojmë se konkurrenca duhet të inkurajohet ndaj ndërhyrja e shtetit dhe rregullimi duhet të kufizohen duke mos cënuar zbatimin e ligjit. Njerëzit janë më të aftë për të marrë vendime për jetën dhe financat e tyre sesa burokratët. Sistemi i sipërmarrjes së lirë është baza e zhvillimit dhe rritjes së ekonomisë. Po ashtu shpërndarja e drejtë e aseteve kombëtare është jetike për një shoqeri të drejtë për këdo.
        </p> 
        <p>
            Familja është baza e zhvillimit shoqëror për Ne. Rritja e një familje të shëndetshme, mbi baza të traditës dhe barazinë shoqërore, është boshti i ndërtimit të shtetit dhe mirëqenies së individit.
        </p>
        <p>
            Ne besojmë se çdo jetë njerëzore ka dinjitet dhe vlerë të paçmuar dhe një politikë e drejtë mbron jetën, nderon martesën dhe familjen si institucionet kryesore të një shoqërie të shëndetshme që përqafon ndikimet kulturore jetësore të fesë dhe moralit. Për Ne tradita është konteksti prej nga vjen, qëndron dhe sheh përpara shoqëria shqiptare. Në të njëtën kohë, dënojmë me vendosmëri diskriminimin e qytetarëve me orientim të ndryshëm seksual.
        </p>
        <p>
            Ne jemi për ruajtjen e tradicionales dhe të hapur për ndryshimin me kushtin e ruajtjes së vijimësisë së shoqërisë mbi baza të konservimit të traditave tona më të mira dhe vazhdimësisë së shtetit mbi themelet e tij historike, juridike dhe institucionale, duke u zhvilluar me të gjitha mundësitë inovacionin, arsimin e shëndoshë dhe avancimin modern të shkencës dhe teknologjisë.
        </p>
        <p>
            Decentralizimi i pushtetit lokal dhe qendror janë parime të rëndësishme që sigurojnë angazhimin dhe pjesëmarrjen e shoqërisë në çdo hallkë të saj. Qeverisja vendore është guri i themelit të sovranitetit të komuniteteve. Komuniteti është lidhje organike mes njerëzve, shteti është lidhje mekanike por e domosdoshme.
        </p>
        <p>
            Për Ne, grupet e interesit nuk janë as klientelë dhe as vasalë të qeverisë por ndërmjetës mes shoqërisë dhe qeverisjes. 
        </p>
        <p>
            Liria e besimit fetar pa asnjë ndërhyrje abuzive të shtetit dhe kultivimi i vlerave më të mira të traditës së besimeve dhe harmonisë fetare në vend janë të një rëndësie të veçantë për zhvillimin shoqëror të vendit.
        </p>
        <p>
            Ne mbështesim fort shtresat e persekutuara nga sistemi komunist, aspirojmë për drejtësi për krimet e komunizmit si dhe mbështetemi në vlerat më të mira të elitës Shqiptare që u shkatërrua nga diktatura dhjetra vjeçare. Mosrishikimi i historisë është një nga shkaqet e polarizimit politik 33 vjeçar. Bashkëjetesë pa besuar në vlerat e përbashkëta nuk mund të ketë. Historia vlen për të mos përsëritur gabimet e të shkuarës.
        </p>
        <p>
            Ne vendosim përpara të gjithash interesin kombëtar të vendit, ruajtjen e sovranitetit, kulturës dhe tërësisë territoriale, duke mbështetur fort të gjithë bashkëkombasit shqiptarë dhe duke u angazhuar për përparimin e Kosovës si shtet i pavarur dhe gjithë faktorit shqiptar në rajon si kartë e rëndësishme për zhvillimin e aspiratave të tij. 
        </p>
        <p>
            Ne duhet të përpiqemi për sigurinë dhe stabilitetin e rajonit dhe më gjerë duke rritur angazhimet e vendit si anëtarë të denjë të NATO-s si dhe duke synuar sa më parë integrimin dhe anëtarësimin e vendit në Bashkimin Europian. 
        </p>
        <p>
            Për Ne, siguria energjitike, ajo ushqimore dhe kibernetike përbejnë prioritete të sigurisë kombëtare.
        </p>
        <p>
            Meritokracia dhe qarkullimi i elitave si dhe thitja e vlerave më të mira intelektuale të vendit përbëjnë parimet bazë të cilat besojmë.
        </p>
        <p>
            Ne besojmë se vota e lirë dhe paprekshmëria e saj, pluralizmi i mendimit, respektimi i mendimit dhe i individit janë bazat për ndërtimin e shtetit të së drejtës dhe demokracisë funksionale. 
        </p>
    </section>
    

    <div class="kodi-sjelljes-container">
        <h1 class="kodi-sjelljes-title">Kodi i Sjelljes</h1>
        <h2 class="kodi-sjelljes-subtitle">Djathtas 1912</h2>

        <div class="section">
            <h3>Parimet e Përgjithshme</h3>
            <ul>
                <li>Anëtarësimi në “Djathtas 1912” nënkupton detyrimin e anëtarit për të pranuar dhe respektuar Statutin, Kartën e Parimeve dhe Vlerave, këtë Kod të Etikës dhe çdo rregullore dhe akt të vendosur nga organet e saj në përputhje me Statutin dhe Kodin e Etikës.</li>
                <li>Kodi i Etikës synon të garantojë sjelljen e të gjithë anëtarëve dhe, veçanërisht, të zëdhënësve, të të zgjedhurve dhe të përfaqësuesve politikë të saj, të frymëzuar nga parimet e besnikërisë, korrektësisë, ndershmërisë, mirëbesimit, transparencës.</li>
                <li>Anëtarët, zëdhënësit, të zgjedhurit dhe përfaqësuesit ndërtojnë veprimin dhe sjelljen e tyre politike mbi vlerat e demokracisë pjesëmarrëse, lirisë, ndershmërisë, solidaritetit, transparencës dhe barazisë, duke u kujdesur që debati politik të mbahet brenda kufijve të gjuhës normale politike, duke shmangur tonet dhe fjalët që nënkuptojnë qëndrime agresive dhe denigruese.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Mbështetja e vlerave dhe parimeve të partisë</h3>
            <ul>
                <li>Anëtarët duhet të mbështesin dhe promovojnë idealet konservatore dhe nacionaliste të partisë, duke përfshirë mbështetjen për vlerat tradicionale, sovranitetin kombëtar dhe lirinë ekonomike.</li>
                <li>Anëtarët duhet të tregojnë respekt dhe të zbatojnë mënyrën e organizimit dhe vendimet e partisë.</li>
                <li>Anëtarët duhet të sillen me disiplinë, duke u përmbajtur nga çdo veprim që mund të dëmtojë reputacionin ose imazhin e partisë.</li>
                <li>Anëtarët janë përgjegjës për veprimet e tyre publike dhe private, të cilat duhet të pasqyrojnë vlerat e partisë. Sjellja në kundërshtim me këto vlera mund të çojë në masa disiplinore.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Integriteti dhe Ndershmëria</h3>
            <ul>
                <li>Anëtarët duhet të veprojnë me integritet dhe ndershmëri në jetën e tyre politike dhe personale. Korrupsioni apo sjellja joetike nuk tolerohet.</li>
                <li>Çdo marrëdhënie personale ose profesionale që mund të bie ndesh me vlerat dhe misionin e partisë duhet t’i njoftohet organeve të saj.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Respektimi i ligjit dhe rendit</h3>
            <ul>
                <li>Anëtarët duhet të tregojnë respekt për ligjin, rendin dhe organet që i zbatojnë ato. Anëtarët duhet të promovojnë ligjin dhe rendin si parimet kryesore të platformës së Djathtas 1912.</li>
                <li>Çdo formë dhune, ekstremizmi ose aktiviteti të paligjshëm është rreptësisht e ndaluar dhe e dënuar.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Përkushtimi ndaj interesit kombëtar</h3>
            <ul>
                <li>Anëtarët duhet të kenë prioritet interesin kombëtar në të gjitha aktivitetet politike, duke promovuar unitetin dhe mirëqenien e vendit mbi interesat personale apo rajonale.</li>
                <li>Shfaqja e respektit për simbolet dhe institucionet e kombit, duke përfshirë flamurin, himnin kombëtar dhe forcat e armatosura është e vlerë thelbësore e anëtarëve.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Profesionalizmi në Përfaqësimin Publik</h3>
            <ul>
                <li>Anëtarët duhet të angazhohen në një diskurs publik të respektueshëm dhe konstruktiv, edhe kur debatojnë kundër kundërshtarëve politikë. Përdorimi i gjuhës nënçmuese, sulmeve personale ose retorikës nxitëse është i dekurajuar.</li>
                <li>Zyrtarët dhe përfaqësuesit e zgjedhur pritet t'u shërbejnë zgjedhësve të tyre me besnikëri dhe drejtësi, duke dëgjuar shqetësimet e tyre dhe duke vepruar në interesin e tyre më të mirë.</li>
            </ul>
        </div>

        <div class="section">
            <h3>Konfidencialiteti dhe çështjet e brendshme</h3>
            <ul>
                <li>Anëtarët duhet t'i mbajnë konfidenciale diskutimet dhe strategjitë e brendshme, veçanërisht gjatë politikëbërjes ose diskutimeve të strategjisë zgjedhore.</li>
                <li>Çdo mosmarrëveshje brenda Djathtas 1912 duhet të trajtohet përmes mekanizmave të brendshëm dhe jo me mosmarrëveshje publike për aq sa kjo është e mundur. </li>
                <li>Anëtarët duhet të punojnë aktivisht në drejtim të promovimit dhe mbështetjes së platformës dhe objektivave politike të Djathtas 1912, si në diskursin publik ashtu edhe atë privat. </li>
            </ul>
        </div>

        <div class="section">
            <h3>Respekti për diversitetin e opinioneve</h3>
            <ul>
                <li>Ndërsa anëtarët inkurajohen të përfshihen në debate dhe diskutime të brendshme për çështjet e politikave, ata duhet ta bëjnë këtë me respekt dhe në mënyrë konstruktive, pa cenuar parimet, vlerat dhe qëllimet apo objektivat elektorale të Djathtas 1912.</li>
                <li>Pikëpamjet e ndryshme brenda një kuadri konservator, veçanërisht për çështjet sociale ose ekonomike, janë të mirëpritura, por këto duhet të përputhen me qëllimet më të gjera të Djathtas 1912.</li>
            </ul>
        </div>


        <div class="section">
            <h3>Shërbimi Publik dhe Përgjegjësia</h3>
            <ul>
                <li>Anëtarët, veçanërisht zyrtarët e zgjedhur, duhet të veprojnë në interes të publikut dhe të respektojnë standardet më të larta të shërbimit publik. </li>
                <li>Zyrtarët duhet t'u japin përparësi nevojave të zgjedhësve të tyre dhe të shmangin çdo veprim që do të minonte besimin e publikut në aftësinë e tyre për të shërbyer në mënyrë efektive.</li>
            </ul>
        </div>


        <div class="section">
            <h3>Mosdiskriminimi dhe respektimi i dinjitetit njerëzor</h3>
            <ul>
                <li>Anëtarët duhet t'i trajtojnë të gjithë individët me respekt, pavarësisht nga raca, gjinia, feja ose përkatësia etnike dhe nuk duhet të përfshihen në praktika diskriminuese.</li>
                <li>Duke respektuar diversitetin, anëtarët pritet gjithashtu të promovojnë dhe mbrojnë identitetin, kulturën dhe vlerat e kombit si vlera qendrore për ideologjinë e Djathtas 1912.</li>
            </ul>
        </div>


        <div class="section">
            <h3>Sanksione të qarta për sjellje në kundërshtim me vlerat dhe parimet</h3>
            <ul>
                <li>Anëtarët pranojnë pasojat e qarta për shkeljen e këtij Kodi, duke filluar nga paralajmërimet deri te përjashtimi, në varësi të ashpërsisë së sjelljes së keqe.</li>
                <li>Anëtarët pranojnë një proces të brendshëm të mirëpërcaktuar për hetimin dhe adresimin e shkeljeve të kodit, duke garantuar drejtësi dhe transparencë.</li>
            </ul>
        </div>
    
    </div>



{% endblock%}