<!DOCTYPE html>
{% extends "base/index.html" %}
{% block title %} Artikujt Informues {% endblock %}
{% load static %}
{% load embed_video_tags %} 



{% block content %}

<section class="artikujtinfomues">
    <div class="container">
        <h1>Artikujt Informues</h1>
        <div class="grid">
            {% for artikuj in artikujinfomues %}
            <a href="{% url 'artikujtinfomues_detail' artikuj.pk %}" style="text-decoration: none;">
                <div class="card custom-card">
                    {% if artikuj.image %}
                    <img src="{{ artikuj.image.url }}" class="card-img-top" alt="{{ artikuj.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ artikuj.title }}</h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}