<!DOCTYPE html>
{% extends "base/index.html" %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}



 <!-- -------------------------------------------------------------INTO SECTION---------------------------------------------------- -->
    <!-- Hero section with title and button -->
    <div class="hero-section">
        <h1>Join Djathas 1912 for a Better Future</h1>
        <button class="btn">Dhuro</button>
    </div>

    <!-- Information sections below -->
    <div class="info-sections">
        <div class="info-box who-we-are">
            <h3>Who We Are</h3>
            <p>Learn About Our Vision and Mission</p>
            <a href="#">&#8594;</a>
        </div>
        <div class="info-box our-campaigns">
            <h3>Our Campaigns</h3>
            <p>Discover Our Past and Upcoming Events</p>
            <a href="#">&#8594;</a>
        </div>
        <div class="info-box our-initiatives">
            <h3>Our Initiatives</h3>
            <p>Explore Our Projects and Initiatives</p>
            <a href="#">&#8594;</a>
        </div>
        <div class="info-box take-action">
            <h3>Take Action</h3>
            <p>Join Our Movement for a Better Albania</p>
            <a href="#">&#8594;</a>
        </div>
    </div>


    <h1>Kaljdijdg sg</h1>
{% endblock %}